.view-theme-gallery-new .views-row {
   border: 1px solid #000;
   background-color: #FFF !important;
   padding: 10px;
   width: 160px;
   height: 160px;
   text-align: center !important;
   float: left;
   
}
.view-theme-gallery-new .field-content img {
  margin: 0 auto;
  height: 80px;
}
.view-theme-gallery-new .views-row.selected {
   background-color: #FCEBA9 !important;
}

.view-theme-gallery-new .fivestar-widget {
  width: 110px;
  margin: 0 auto;
}
.unit, .unit,
.panel-2col .panel-col-first {
   width: 740px;
   margin-right: 20px !important;
   float: left;
}

.unit.last-unit,
.panel-2col .panel-col-last {
   width: 160px !important;
}

.views-field-field-theme-name {
   display: none !important;
}

select#edit-theme {
  width: 160px;
}

.view-theme-gallery-new #edit-title {
  max-width: 200px;
}

.view-theme-gallery-new .views-field-nothing {
  height: 25px;
  overflow: hidden;
}

.view-theme-gallery-new .views-field-field-theme-rating {
  text-align: center;
}

.item-list .pager {
  padding-top: 20px;
}

.page-admin-appearance-settings .tabs,
.page-admin-appearance-settings .tabs ul.primary, 
.page-admin-appearance-settings .tabs ul.secondary {
  display: none;
}

#dsq-content li, #dsq-content ul li {
  list-style: none !important;
  background: none !important;
  padding: 0 !important;/*
  margin: 0 !important;*/
}

#dsq-content #dsq-global-toolbar .dsq-global-toolbar-left li {
    float: left;
    margin: 0 3px 5px 0 !important;
}